body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #6a0dad, #ff69b4);
  margin: 0;
  padding: 0;
}

.contenedor {
  max-width: 800px;
  margin: 10% auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  color: ##4c0597;
}

p {
  font-size: 1.1em;
  color: #9d7ebe;
}

.boton-principal {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to right, purple, pink);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    }

    .boton-brillante {
      padding: 15px 30px;
      font-size: 16px;
      font-weight: bold;
      color: white;
      border: none;
      border-radius: 30px;
      background: linear-gradient(to right, purple, pink);
      cursor: pointer;
      position: relative;
      z-index: 1;
      animation: brillar 2s infinite alternate;
    }
