body {
  font-family: Arial, sans-serif;
  background-color: #A1B4FF;
  margin: 0;
  padding: 0;
}

.contenedor {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  color: ##4c0597;
}

p {
  font-size: 1.1em;
  color: #9d7ebe;
}
